.DS_Store
.env
.envrc
/node_modules/

# React Router
/.react-router/
/build/

#Database
/postgres-data/
/drizzle-migrations/

# Artifacts
build
coverage

# Playwright
/test-results/
/playwright-report/
/playwright/.cache/

#Extra
/extra/

#Cache
/server-cache/